<div class="container">
  <app-header></app-header>

  <div class="heroes-lists">
    <div class="marvel-heroes">
      MARVEL HEROES
      <ng-container *ngFor="let hero of heroMarvel">
        <app-card-hero [hero]="hero" (emitChangeTeam)="changeHeroTeam($event)"></app-card-hero>
      </ng-container>
    </div>
    <div class="dc-heroes">
      DC HEROES
      <ng-container *ngFor="let hero of dcHeroes">
        <app-card-hero [hero]="hero" (emitChangeTeam)="changeHeroTeam($event)"></app-card-hero>
      </ng-container>
    </div>
  </div>
  <!-- <ng-container *ngFor="let hero of heroMarvel">
    <p>{{hero.name}}</p>
  </ng-container> -->
  <!-- <ng-container *ngFor="let hero of dcHeroes">
    <p>{{hero.name}}</p>
  </ng-container> -->

</div>



<!--
 1) Crear dos listas, una con heroes de MARVEL y otra con heroes de DC 
 3)Mostrar nombre de heroe
 2) Mostrar la imagen de cada heroe
 3) Crear una clase de SCC que se aplique solo a los heroes de Marvel y otra DC. EJ: Personaje de Marvel: card con fondo rojo y letras blancas  
-->